body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  color: orange;
  background-color: teal;
  font-size: 15px;
}

img {
  height: 150px;
  width: 150px;
}

.topimage {
  heigt: 168px;
  width: 300px;
}

a {
  color: orange;
}

a:hover {
  color: white;
}


.ArtemisDiv {
  color:lightgreen;
}

.HeliosDiv {
  color: red;
}

.AthenaDiv {
  color: purple;
}

.PoseidonDiv {
  color: blue;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

input[type=text] {
  color: black;
}

.easteregg {
  display: none
}