{% extends 'layout.html' %}

{% block content %}
<h1>About this Website</h1><br><br>
<h3>Purpose</h3>
<p>This website was created for the SavingTheWorld 1 school project</p><br>

<h3>Theme/Idea</h3>
<p>I wanted to create something all ASRjcians could come to and submit any questions or feedback to the respective houses</p>
<p>They may also come here to find some facts abiut their houses :D</p><br>

<h3>How it helps the school</h3>
<p>With some adjustments and finetuning, the house captains could perhaps use this app to receive any concerns/feedback the school population might have</p>

{% endblock content %}