{% extends 'layout.html' %}


{% block content %}

<h1>Do you know the Four ASR houses??</h1>

<br>
<h2>Introducing the four charismatic House Gods of ASR</h2><br>

<img src="/images/Artemis.png" alt="Artemis">
  
<div class="ArtemisDiv">
<h3>ARTEMIS - Goddess of the Hunt</h3>
</div>
<p>With her trusty bow and wolves, you do not want to be up against her! Here are some facts about the Artemis house! </p><br>
<p>Students in this house are usually taking the PCME combi</p>
<p>Their house colour is green</p>
<p>The students are know as Wolfpups</p>
<p><a href="https://www.instagram.com/asr.artemis/">Artemis Instagram page</a></p><br>
  
<div class="HeliosDiv">
<h3>HELIOS - God of the Sun</h3>
</div>
<p>With his burning passion and courage, he can brigthen up your day in an instant! Here are some facts about the Helios house!</p><br>
<p>Home of the Computing, 4H2, Sci hybrid and Fmath students</p>
<p>Their house colour is red</p>
<p>Students here are known as Pyrosparks</p>
<p><a href="https://www.instagram.com/asr.helios/">Helios Instagram page</a></p><br>

<div class="AthenaDiv">
<h3>ATHENA - God of War</h3>
</div>
<p>With her charms and knowledge, she is able to settle any conflict with minimum effort leaving all parties content. Here are some facts about the Athena House!</p><br>
<p>Classes that take the BCME combi</p>
<p>Their house colour is purple</p>
<p>Students in this house are called owelets</p>
<p><a href="https://www.instagram.com/asr.athena/">Athena Instagram page</a></p><br>

<div class="PoseidonDiv">
<h3>POSEIDON -  God of the Sea</h3>
</div>
<p>With his well known trident, his chilled and caring personality is sure to cool you down on a hot day. Here are some facts about the Poseidon House!</p><br>
<p>Classes have the art, BCME, art hybrid combi</p>
<p>Their house colour is blue</p>
<p><a href="https://www.instagram.com/asr.poseidon/">Poseidon Instagram page</a></p><br>


{% endblock content %}